<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>To Do List (self-made)</title>
  </head>
  <body>
    <ul>
      <% for (var i = 0; i < newBucketItems.length; i++) { %>
        <li> <%= newBucketItems[i] %> </li>
      <% } %>
    </ul>

    <form action="/" method="post">
      <input type="text" name="listItem" placeholder="Enter your task..">
      <button type="submit" name="button">Add</button>
    </form>

  </body>
</html>
